@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1b3c53;
  --color-secondary: #456882;
  --color-accent: #d2c1b6;
  --color-light: #f9f3ef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-reddit-sans), sans-serif;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-reddit-sans), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-reddit-sans), sans-serif;
  font-weight: 700;
}

.font-primary {
  font-family: var(--font-reddit-sans), sans-serif;
}

.font-secondary {
  font-family: var(--font-sora), sans-serif;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-light {
  background-color: var(--color-light);
}
